.selectbox-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  transition: border 0.2s, box-shadow 0.2s;

  &:focus-within {
    border-color: #3b82f6;
  }
}

.selectbox-button,
.selectbox-input {
  padding-left: 2rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 3.5rem;
  line-height: 1.5;
  background-color: white;
  border: none;
  outline: none;
  padding: 0.625rem 1rem;
  color: #1e3a8a;

  &::placeholder {
    color: #93c5fd;
  }
}

.selectbox-button.placeholder {
  color: #93c5fd;
  cursor: text;
}

.selectbox-icon {
  position: absolute;
  right: 0.625rem;
  transition: transform 0.3s;
  top: 30%;
  color: #494949;
  &.open {
    transform: rotate(180deg);
    top: 20%;
  }
}

.selectbox-dropdown {
  position: absolute;
  top: 4.2rem;
  z-index: 999;
  width: 100%;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 15rem;
  overflow: hidden;
  padding: 1rem;

  &.top {
    top: unset;
    bottom: 2.75rem;
  }
}

.selectbox-options {
  overflow-y: auto;
  max-height: inherit;
  -webkit-overflow-scrolling: touch;

  /* Custom scrollbar */
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #93c5fd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #868686;
  }

  /* Firefox support */
  scrollbar-width: thin;
  scrollbar-color: #868686 transparent;
}

.selectbox-value-display {
  color: #494949;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.selectbox-item {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: background 0.2s, color 0.2s;
  color: #494949;
  font-weight: 500;
  text-transform: capitalize;

  &:hover {
    background-color: #dbeafe93;
  }

  &.selected {
    background-color: #dbeafe93;
    color: #1d4ed8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
  }

  .description {
    color: #2563eb;
    font-weight: normal;
    display: block;
  }
}

.selectbox-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  text-align: center;
  color: #6b7280;
  gap: 0.5rem;
}
